@use '../scss/color' as color;
@use 'debug' as *;

$enable-function-testing: (
    'calc-contrast': false,
    'lighten-color': false,
    'darken-color': true,
);

@if map-get($enable-function-testing, 'calc-contrast') {

    $title: function-name('calc-contrast');

    $description: description('Calculando o contraste.');
    $background: white;
    $color: black;
    $result: result(color.calc-contrast($background, $color));

    $description: description('Calculando o contraste entre cores sem contraste.');
    $background: white;
    $color: #eeeeee;
    $result: result(color.calc-contrast($background, $color));
}

@if map-get($enable-function-testing, 'lighten-color') {

    $title: function-name('lighten-color');

    $description: description('Clareando uma cor.');
    $color: #f44336;
    $result: result(color.lighten-color($color, 40%)); 
}

@if map-get($enable-function-testing, 'darken-color') {

    $title: function-name('darken-color');

    $description: description('Escurecendo uma cor.');
    $color: #f44336;
    $result: result(color.darken-color($color, 40%)); 
}